body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fafcf7;
}

header {
    background: #2caed2;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(10, 2, 2);
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 50px;
    background: #fff;
}

.btn {
    display: inline-block;
    background: #bee48f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
}